@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding: 120px;
  }

  /* ===============HEADER====== */

  .adress {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  .contacts-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /* ======HERO================== */

  .hero {
    padding: 188px 0;
  }

  .page-hero {
    background-color: rgba(46, 47, 66, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../images/header/people-office.jpg);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/header/hero_desk@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .page-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/header/hero_desk@2x.webp);
    }
  }

  /* ==========FUTURE============ */
  .page-future {
    display: flex;
    gap: 24px;
  }

  .container {
    padding: 0 15px;
  }

  .future {
    padding: 120px 0;
  }

  .gallery-item {
    flex-basis: 264px;
  }

  .description-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .subtitle {
    font-weight: 400;
  }

  /* ==========WORK============ */

  /* =======EMPLOYERS========== */

  .section-team {
    display: flex;
    gap: 24px;
  }

  .card {
    padding: 120px 0;
  }

  /* ========CUSTOMERS========= */

  .customers {
    padding: 120px 0;
  }
  .customers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .gallery-employers {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  /* ===========FOOTER================ */

  .footer {
    margin-right: 120px;
  }

  .page-footer {
    padding: 100px 0;
  }

  .modal-wrapper-footer {
    max-width: 453px;
    margin-left: 80px;
  }

  .footer-wrapper {
    padding-left: 15px;
  }

  .footer-subtitle {
    margin-bottom: 0;
  }

  .social-footer {
    margin-bottom: 0;
  }

  /* =============PORTFOLIO=================== */

  .portfolio {
    padding: 100px 0 120px 0;
  }

  .page-portfolio {
    margin-bottom: 72px;
  }

  .card-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
  }

  .portfolio-item {
    display: block;
    flex-basis: 360px;
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
