.container {
  max-width: 428px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  outline: 2px solid green;
  outline-offset: -2px;
}

@media screen and (max-width: 428px) {
  .container {
    min-width: 320px;
    max-width: 428px;
  }

  .header-list,
  .contacts {
    visibility: hidden;
  }

  .future-item {
    display: inline-block;
  }
}

.header-list {
  display: none;
}

.contacts {
  display: none;
}

/* ========================COMPONENTS===================== */

/* .section {
  padding: 96px;
} */

.section-description {
  text-align: center;
  margin-bottom: 24px;

  color: var(--body-text-color-dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.description-title {
  display: inline-block;
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--body-text-color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.subtitle {
  color: var(--body-text-color-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.body {
  color: var(--body-text-color-light);
  font-family: var(--primary-font);
  background-color: var(--body-theme-light);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ============================HEADER=============== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site-nav {
  display: flex;
  align-items: center;

  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  margin-right: 76px;
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color, #404bbf);
}

.logo-span {
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color, #404bbf);
}

.contacts-link {
  display: inline-block;
  list-style: none;
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color, #404bbf);
  font-style: normal;
}

.header-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.header-active::after {
  display: block;
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  bottom: -1px;
}

.header-active {
  color: var(--accent-color, #404bbf);
}

/* ===============HEADER_MOBILE_MENUE============== */

.burger-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn {
  display: block;
  margin-left: auto;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 22px;
  background-color: transparent;
  color: #2e2f42;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  width: 24px;
  height: 24px;
  right: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 22px;

  margin-left: 0 auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: #2e2f42;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 80px 35px 40px 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #ffffff;
  z-index: 999;
  border-radius: 4px;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #e7e9fc;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-active {
  color: var(--accent-color, #404bbf);
}

.mobile-link:hover,
.mobile-link:focus {
  color: var(--accent-color, #404bbf);
}

.mobile-contacts-active {
  color: var(--accent-color, #404bbf);
}

.mobile-menu-text {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mobile-mail-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 56px;
}

/* ========================HERO===================== */

.page-hero {
  background-color: var(--hero-theme-dark);
  padding: 188px 0;
}
.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: var(--hero-text-color);

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.hero-btn {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;

  color: var(--white, #ffffff);
  background: var(--iris, #4d5ae5);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color, #404bbf);
}

.page-hero {
  background-color: rgba(46, 47, 66, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../images/header/people-office.jpg);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/header/hero_mob@1x.webp);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/header/hero_mob@2x.webp);
  }
}

/* =======================FUTURE================ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .future {
  padding: 120px 0;
} */

.page-future {
  /* flex-direction: column; */
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  flex-basis: 100%;
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
}

.future-text {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.future-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.future-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==========================WORK========================== */

@media screen and (max-width: 1158px) {
  .work {
    display: none;
  }
  .future-wrapper {
    display: none;
  }
  .gallery-item {
    display: flex;
    flex-wrap: wrap;
    gap: var(--horizontal-second-gap);
  }
}

.work {
  padding-bottom: 120px;
}

.work-item {
  margin-bottom: 72px;
}

.work-card {
  display: flex;
  gap: 24px;
}

.work-image {
  border: 1px solid var(--cornflower, #e7e9fc);
}
.gallery-work {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/* ======================EMPLOYERS================== */

.card {
  background-color: var(--cloud, #f4f4fd);
}

.card-title {
  padding: 96px 0;
  text-align: center;
  /* margin-bottom: 72px; */
}

.section-team {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  column-gap: 24px;
}

.gallery-employers {
  flex-basis: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.imag-team {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-team {
  text-align: center;
  padding: 32px 16px;
  background: var(--white, #fff);
}

.employeers {
  text-align: center;
  margin-bottom: 8px;
}

.position {
  margin-bottom: 8px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
  background-color: #404bbf;
}

.social-list-icon {
  fill: var(--fill-color);
}

/* ===========Customers======== */
/* .customers {
  padding: 120px 0;
} */

.customers-title {
  padding: 96px 0;
}

.customers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-icons {
  flex-basis: 190px;
  padding: 16px 40px;
  height: 88px;
  /* width: calc((100% - 120px) / 6); */
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  color: var(--customers-color, #8e8f99);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.svg-fill {
  fill: currentColor;
}

/* =================FOOTER================ */

.page-footer {
  background-color: var(--footer-theme-dark);
  color: var(--footer-text-color);
  padding: 100px 0;
}

.footer {
  margin-right: 120px;
}

.footer-subtitle {
  color: var(--footer-text-color);
  background-color: var(--footer-theme-dark);
  display: flex;
  max-width: 264px;
  margin-bottom: 72px;
}

.logo-footer {
  margin-right: 76px;
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-span {
  color: #f4f4fd;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: baseline;
}

.social-subtitle {
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-footer {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}

.size {
  width: 40px;
  height: 40px;
}

.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  color: var(--fill-color);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #31d0aa;
}

/*=========== modal-footer============= */

.modal-wrapper-footer {
  margin-left: 80px;
}

.modal-subscribe-footer {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-form {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  gap: 24px;
}

.footer-modal-input {
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;

  max-width: 264px;
  height: 40px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid #ffffff;
}

.footer-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  min-width: 165px;
  height: 40px;

  background-color: #4d5ae5;
  color: #ffffff;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
}

.svg-footer {
  margin-left: 16px;
  color: #ffffff;
  fill: currentColor;
}
