.container {
  max-width: 428px;
  width: 100%;
  outline: 2px solid green;
  outline-offset: -2px;
  background: yellow;
}

@media screen and (max-width: 428px) {
  .container {
    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

/* ========================COMPONENTS===================== */

.section-description {
  text-align: center;
  margin-bottom: 24px;

  color: var(--body-text-color-dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.description-title {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--body-text-color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.subtitle {
  color: var(--body-text-color-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.body {
  color: var(--body-text-color-light);
  font-family: var(--primary-font);
  background-color: var(--body-theme-light);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ============================HEADER=============== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;

  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  margin-right: 76px;
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color, #404bbf);
}

.logo-span {
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color, #404bbf);
}

.contacts-link {
  display: inline-block;
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color, #404bbf);
  font-style: normal;
}

.adress {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.header-list {
  display: flex;
  gap: 40px;
}

.menue {
  padding-bottom: 24px;
  padding-top: 24px;
}

.header-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.header-active::after {
  display: block;
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  bottom: -1px;
}
.header-active {
  color: var(--accent-color, #404bbf);
}

/* ===============HEADER_MOBILE============== */

/* ========================HERO===================== */

.page-hero {
  background-color: var(--hero-theme-dark);
  padding: 188px 0;
}
.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: var(--hero-text-color);

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.hero-btn {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;

  color: var(--white, #ffffff);
  background: var(--iris, #4d5ae5);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color, #404bbf);
}

.page-hero {
  background-color: rgba(46, 47, 66, 0.7);
  background-image: url(../images/header/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

/* ===============FUTURE================ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.future {
  padding: 120px 0;
}

.page-future {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.future-text {
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.gallery-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.future-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.future-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==========================WORK========================== */

@media screen and (max-width: 1158px) {
  .work {
    display: none;
  }
  .future-wrapper {
    display: none;
  }
  .gallery-item {
    display: flex;
    flex-wrap: wrap;
    gap: var(--horizontal-second-gap);
  }
}

.work {
  padding-bottom: 120px;
}
.work-item {
  margin-bottom: 72px;
}

.work-card {
  display: flex;
  gap: 24px;
}

.work-image {
  border: 1px solid var(--cornflower, #e7e9fc);
}
.gallery-work {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
