@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* ========HEADER============== */

  .header-list {
    display: block;
  }

  .page-header {
    padding: 0;
  }

  .contacts {
    display: block;
  }

  .adress {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 12px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .menue {
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .header-btn {
    display: none;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
  }

  .menu-toggle {
    display: none;
  }

  .menu-container {
    display: none;
  }

  /* ===========HERO============== */
  .hero {
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
  }

  .page-hero {
    background-color: rgba(46, 47, 66, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../images/header/people-office.jpg);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/header/hero_tab@1x.webp);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .page-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/header/hero_tab@2x.webp);
    }
  }

  /* ==========FUTURE============ */
  .gallery-item {
    flex-basis: 356px;
  }

  .description-title {
    text-align: left;
  }

  /* =======EMPLOYERS========== */
  .gallery-employers {
    flex-basis: 264px;
  }

  .gallery-employers {
    flex-basis: calc((100% - 2 * 24px) / 2);
  }

  .section-team {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* ========CUSTOMERS========= */

  .customers-icons {
    flex-basis: 168px;
    row-gap: 72px;
    column-gap: 24px;
  }

  .customers-wrapper {
    column-gap: 24px;
  }

  /* =================FOOTER================ */

  .footer-wrapper {
    padding-left: 108px;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer {
    align-items: flex-start;
    margin-right: 24px;
  }

  .social-subtitle {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    justify-content: flex-start;
  }

  .modal-subscribe-footer {
    text-align: left;
  }

  .footer-modal-label {
    max-width: 264px;
  }

  /* ==============PORTFOLIO====================== */

  .portfolio {
    padding: 64px 0 128px 0;
  }

  .page-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
  }

  .card-content {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 356px;
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}
